:global(#root) {
    .loadmoreBtn {
        width: 80%;
        font-size: 18px;
    }

    .loadmoreIcon {
        font-size: 22px;
        margin-left: 10px;
    }
}

:global(#modal) {
    .modalBanner {
        width: 100%;
        // max-height: 250px;
    }

    .modalBannerImg {
        width: 100%;
        height: 100%;
        object-fit: fill;
        // border-radius: 10px;
    }

    .loadingBox {
        border: none;
        box-shadow: none;
        width: 100%;
    }

    .myModal {
        display: block;
        width: 100%;
        font-size: 1em;
        line-height: 1.4;
        background: #fff;
        max-height: calc(70vh);
        overflow: scroll;
        overflow-x: hidden;
    }

    .modalContent {
        padding: 10px 15px 10px;
    }

    .modalTitle {
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.418);
    }
    .modalNative {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 2px;
    }
    .modalRomaji {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 2px;
    }
    .modalEnglish {
        font-size: 20px;
        font-weight: 500;
    }

    .cover {
        margin-top: 12px;
    }

    .flexColumnContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .description {
        margin: 15px 12px;
        font-size: 18px;
    }

    .rating {
        text-align: center;
        margin: 15px 0;
    }

    @media only screen and (max-width: 767px) {
        .modalContent {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }

    .tagsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 10px;
    }

    .tag {
        margin: 5px;
    }

    .genreContainer {
        width: 100%;
        margin: 20px 0 15px;
        text-align: center;
    }

    .genre {
        width: 85%;
        text-align: center;
        margin: 3px 0;
    }

    .informationContainer {
        width: 95%;
        text-align: center;
        margin: 20px auto 10px;
    }

    .modalBigBtn {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    @media (max-width: 550px) {
        .description {
            margin: 12px 8px;
            font-size: 13px;
        }

        .ratingSize {
            font-size: 9px;
        }
        .rating {
            margin: 4px 0;
        }

        .tag {
            font-size: 8px;
        }

        .genre {
            font-size: smaller;
        }
    }
    
}

.loadmoreBlock {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.paragraph {
    width: 100%;
}


