:global(#root) {
    .loadmoreBtn {
        width: 80%;
        font-size: 18px;
    }

    .loadmoreIcon {
        font-size: 22px;
        margin-left: 10px;
    }

    .filterContainer {
        margin: 10px 5px;
    }

    .filterSidebar {
        width: 270px;
        padding: 0;
        background-color: rgb(240, 240, 240);
    }

    .filterItem {
        transition: all 0.5s;
    }
    .filterItem:hover {
        background: rgba(0,0,0,.03);
        color: rgba(0,0,0,.95);
    }

    .filterBtn {
        border-radius: 7px;
        margin: 0;
        transition: all 0.65s;
    }
    .filterBtn > i {
        margin: 0;
    }

    .filterTag {
        margin: 0.2em 0.2em;
        transition: all 0.5s;
    }
    .filterTag > span {
        margin-right: 0.2em;
    }
    // .filterTag:hover .filterTagIcon {
    //     // visibility: visible;
    //     // display: inline-block;
    // }
    .filterTagIcon {
        // visibility: hidden;
        // display: none;
        transition: all 0.25s;
        margin-right: 0.2em;
    }
    .filterTagIcon:hover {
        color: rgb(218, 67, 67);
        opacity: 1;
    }

    .applyBtn {
        transition: all 0.5s;
    }
    .left {
        text-align: left;
    }

    .wrapper {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 40;
        background-color: rgba(8, 8, 8, 0.295);
        transition: opacity 0.5s;
    }
    .wrapperShow {
        visibility: visible;
        opacity: 1;
    }
    .sidebarLid {
        cursor: pointer;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;  
    }
}

.loadmoreBlock {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}