:global(#root) {
    .transparent {
        background: transparent;
    }

    .search {
        border-bottom: none;
    }

    .searchInput > input {
        border-radius: 1.285714rem;
    }

    .wholeMenu {
        border: none;
        background: rgba(255, 255, 255, 0.06);
        padding: 10px;
        border-radius: 30px;
    }
    .homeMenu {
        background: rgba(8, 8, 8, 0.415);
    }

    .fixedNav {
        margin: 0;
        border-radius: 0;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .header {
        padding: 0;
        font-size: 22px;
        margin-left: 10px;
    }

    .headerLogo {
        margin-right: 1.5em;
    }

    .menuLink {
        display: none;
        margin: 0;
        margin-left: 13px;
        border-radius: 25px;
        border: none;
        transition: all 0.45s;
    }
    .menuLink:hover {
        background: rgba(255,255,255,.08);
        color: #fff;
    }

    @media (max-width: 900px) {
        .navMenu {
            display: none;
        }

        .menuLink {
            display: flex;
            margin-right: 10px;
            margin-left: auto;
        }
    }

    .mySidebar {
        width: 250px;
    }

    .mySideItem {
        transition: all 0.4s;
        font-size: 15px;
    }

    .sidebarHeader {
        margin: 20px auto 0;
    }
    .sidebarHeader:hover {
        background-color: unset;
    }

    .sidebarLogo {
        margin: auto;
        width: 60px;
        transition: transform 0.5s;
    }
    .sidebarLogo:hover {
        transform: scale(1.25);
    }

    .sidebarTitle {
        margin: 10px auto 10px;
        font-size: 22px;
        padding: 0;
    }

    .sidebarSearch {
        height: unset;
        font-size: 15px !important;
        margin-bottom: 0 !important;
    }
    .sidebarSearch > input {
        border-radius: 1.285714rem;
    }

    .topBlock {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 5;
        padding: 5px;
        opacity: 0;
        -webkit-transition: opacity 0.8s;
        -moz-transition: opacity 0.8s;
        transition: opacity 0.8s;
    }

    .topBlockVisible {
        opacity: 1;
    }

    .topBtn {
        font-size: 19px;
        background-color: rgba(0, 0, 0, 0.61);
        color: rgba(255, 255, 255, 0.685);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }
    .topBtn:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}

.bodyContent {
    margin-top: 115px;
}

