:global(#root) {
    .transparent {
        background: transparent;
    }

    .wholeMenu {
        border: none;
        // background: rgba(255, 255, 255, 0.06);
        background: #1b1c1d;
        // padding: 10px;
        border-radius: 2.5em;
        transition: all 0.5s;
    }
    .topMenu {
        padding: 10px;
        background: rgba(8, 8, 8, 0.415);
    }

    .fixedNav {
        margin: 0;
        padding: 0.7em 0.7em;
        border-radius: 0;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        transition: all 0.5s;
    }

    .header {
        padding: 0;
        border-bottom: 0;
        font-size: 1.4em;
        margin-left: 0.7em;
        letter-spacing: 0.03em;
        align-self: center;
    }
    .headerLogo {
        margin-right: 1.5em;
        transition: all 0.5s;
    }
    .headerLogo:hover {
        transform: scale3d(1.1, 1.1, 1);
    }

    .search {
        border-bottom: none;
    }
    .searchInput > input {
        border-radius: 1.2rem;
    }

    .menuLink {
        display: none;
        cursor: pointer;
        align-self: center;
        outline: none;
        margin: 0;
        padding: 0.7em 0.7em;
        border-radius: 50%;
        border: none;
        transition: all 0.45s;
    }
    .menuLink:hover, .menuLink:focus, .menuLink:active {
        background: rgba(255,255,255,.08);
        color: #fff;
    }
    .menuLink > i {
        margin: 0;
        font-size: 1.25em;
    }

    @media (max-width: 900px) {
        .navMenu {
            display: none;
        }

        .menuLink {
            display: block;
            margin-right: 1.7em;
            margin-left: auto;
        }
    }

    @media (max-width: 560px) {
        .header {
            font-size: 18px;
        }
        .topMenu {
            padding: 5px;
        }
    }

    .mySidebar {
        width: 250px;
    }

    .mySideItem {
        margin: 0;
        align-self: center;
        transition: all 0.4s;
        font-size: 1.07em;
        letter-spacing: 0.05em;
    }

    .sidebarHeader {
        margin: 20px auto 0;
    }
    .sidebarHeader:hover {
        background-color: unset;
    }

    .sidebarLogo {
        margin: auto;
        width: 60px;
        transition: transform 0.5s;
    }
    .sidebarLogo:hover {
        transform: scale(1.25);
    }

    .sidebarTitle {
        margin: 10px auto 10px;
        font-size: 22px;
        padding: 0;
        letter-spacing: 0.03em;
    }

    .sidebarSearch {
        height: unset;
        font-size: 15px !important;
        margin-bottom: 0 !important;
    }
    .sidebarSearch > input {
        border-radius: 1.285714rem;
    }

    .topBlock {
        position: fixed;
        bottom: 1.5em;
        right: 2em;
        z-index: 5;
        padding: 5px;
    }

    .topBtn {
        margin: 0;
        font-size: 1.4em;
        // background-color: rgba(209, 209, 209, 0.842);
        background-color: rgba(0, 0, 0, 0.74);
        color: rgba(202, 202, 202, 0.7);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }
    .topBtn:hover, .topBtn:focus {
        // background-color: #f32234;
        background-color: rgb(255, 255, 255);
        color: rgb(29, 29, 29);
    }
}

.bodyContent {
    margin-top: 115px;
    min-height: calc(100vh - 63px);
}