@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

body {
    background-color: #282c34;
    overflow-x: hidden;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    /* margin-top: 60px; */
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    z-index: 3;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-img {
    margin-top: -115px;
    /* background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/banner/106286-09fyYBntN8rR.jpg); */
    background-size: cover;
    width: 100%;
    height: 100vh;
    
    /* min-height: 50vh; */
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.15)) 0% 0% / cover no-repeat, url(./images/tenki.jpg) 0% 10% / cover black;
    background-position: center;
    /* background-attachment: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-device-width: 1025px) {
    .home-img {
        background-attachment: fixed;
    }
}

.home-content {
    margin-top: 200px;
    margin-bottom: 200px;
}

.home-title {
    font-size: 25px;
    text-align: center;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#root .none {
    display: none;
}

#root .myRibbon {
    top: 0px;
    left: 0px;
    position: absolute;
    transition: all 0.5s;
}
#root .myRibbon::after {
    border-left-color: inherit;
    border-right: 0;
    border-left-width: 1.2em;
    border-bottom: 1.2em solid transparent;
}

.anime-block {
    display: block;
    width: 180px;
    height: auto;
    margin: 10px;
    background-color: rgb(240, 238, 238);
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 1px #adadad41;
    transition: all 0.5s;
}
.home-anime-block {
    position: relative;
    display: block;
    height: auto;
    max-width: 210px;
    margin: 10px auto;
    background-color: rgb(240, 238, 238);
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 1px #adadad41;
    transition: all 500ms ease;
    animation: fadeIn 2.1s ease-out;
}
.home-anime-block .anime-img {
    transition: 500ms ease-out;
}
.home-anime-block .anime-img img {
    transition: 1000ms ease-out;
}
.anime-block:hover, .home-anime-block:hover {
    box-shadow: 0px 0px 10px 3px #adadad7d;
}
.anime-block:hover > .anime-img img {
    opacity: 0.85;
}
.home-anime-block:hover > .anime-img {
    opacity: 0.85;
}
.home-anime-block:hover > .anime-img img {
    transform: scale3d(1.1, 1.1, 1);
}

@keyframes fadeIn {
    from {opacity: 0.1;}
    to {opacity: 1;}
}


.anime-img {
    width: 100%;
    height: 230px;
    cursor: pointer;
    overflow: hidden;
}

.anime-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.anime-block .anime-img {
    transition: all 0.5s;
}
.anime-block .anime-img img{
    transition: inherit;
}


@media (max-width: 540px) {
    .anime-block {
        width: 160px;
        height: auto;
        margin: 6px;
    }

    .anime-img {
        height: 210px;
    }
}

/* phone */
@media (max-width: 375px) {
    .anime-block {
        width: 140px;
        height: auto;
        margin: 6px;
    }

    .anime-img {
        height: 190px;
    }
}

/* phone */
@media (max-width: 335px) {
    .anime-block {
        width: 120px;
        height: auto;
        margin: 5px;
    }

    .anime-img {
        height: 150px;
    }
}


.anime-title {
    font-size: 13px;
    text-align: center;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.main-container {
    margin-top: 40px;
}

.block-title {
    /* color: white; */
    width: 100%;
    /* padding: 30px 20px 20px; */
    margin: 20px 0;
}

#root .title-tag {
    width: 95%;
    margin: auto;
    border-radius: 0.7rem 0 0 0.7rem;
    transition: all 500ms ease-in-out;
}
#root .title-tag::before {
    left: unset;
    right: 0;
}
#root .title-tag::after {
    left: unset;
    right: -.25em;
}

.section-title {
    font-size: 30px;
    font-weight: 600;
}

.control-block {
    width: 100%;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

.btn-block {
    padding: 5px;
}

#root .control-btn {
    font-size: 25px;
    padding: 15px 20px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.671);
    color: rgba(255, 255, 255, 0.377);
    transition: all 0.5s;
}
#root .control-btn:hover, #root .control-btn:active, #root .control-btn:focus {
    background-color: black;
    color: white;
}


/********************** Semantic-ui override **********************/

.pushable:not(body) {
    transform: none;
}

.pushable:not(body) > .ui.sidebar, .pushable:not(body) > .fixed, .pushable:not(body) > .pusher:after {
    position: fixed;
}

.dimmed {
    cursor: pointer;
}

.ui.modals {
    padding: 0;
}

#modal.ui.modal {
    cursor: initial;
    height: calc(100% - 8vh);
    margin-top: 4vh;
    margin-bottom: 4vh;
}