@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

body {
    background-color: #282c34;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    /* margin-top: 60px; */
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.anime-block {
    width: 180px;
    height: auto;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
}

.anime-img {
    width: 100%;
    height: 230px;
    object-fit: fill;
    cursor: pointer;
}

/* iphone 6 plus */
@media (max-width: 415px) {
        .anime-block {
        width: 175px;
        height: auto;
        margin: 6px;
    }

    .anime-img {
        width: 100%;
        height: 220px;
        object-fit: fill;
    }
}

/* iphone 6 */
@media (max-width: 390px) {
        .anime-block {
        width: 160px;
        height: auto;
        margin: 6px;
    }

    .anime-img {
        width: 100%;
        height: 210px;
        object-fit: fill;
    }
}

.anime-title {
    font-size: 13px;
    text-align: center;
    padding: 0 10px;
}

.pushable:not(body) {
    transform: none;
}

.pushable:not(body) > .ui.sidebar, .pushable:not(body) > .fixed, .pushable:not(body) > .pusher:after {
    position: fixed;
}

.dimmed {
    cursor: pointer;
}
