@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

body {
    background-color: #282c34;
    overflow-x: hidden;
    height: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.15)) 0% 0% / cover no-repeat, url(./images/spring1.jpg) 0% 10% / cover black;
    background-position: center;
    background-attachment: fixed; */
    font-size: 14px;
}

#root {
    overflow: auto;
    /* height: 100%; */
}

/***************************** Home page ****************************/

.home-content {
    margin-top: 200px;
    margin-bottom: 200px;
}

.home-title {
    text-align: center;
    letter-spacing: 0.15em;
}

#home-img .explore-btn {
    transition: all 0.7s;
    /* padding: 20px 20px !important; */
    background-color: rgba(70, 68, 68, 0.966);
    background-color: #d81c48;
    color: rgba(221, 219, 217, 0.815);
    color: rgba(255, 255, 255, 0.932);
    box-shadow: 0 2px 2px 0 #d81c481f;
}
#home-img .explore-btn:hover {
    transform: scale3d(1.15, 1.15, 1);
    /* background-color: rgba(230, 222, 222, 0.966);
    color: rgba(49, 49, 48, 0.815); */
    box-shadow: 2px 10px 10px 1px #d81c4850;
}
#home-img .explore-btn > span {
    margin-right: 0.5em;
}

.home-img {
    margin-top: -115px;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.15)) 0% 0% / cover no-repeat, url(./images/tenki.jpg) 0% 10% / cover black;
    background-position: center;
    /* background-attachment: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-device-width: 1025px) {
    .home-img {
        background-attachment: fixed;
    }
}

#root .none {
    display: none;
}

#root .myRibbon {
    top: 0px;
    left: 0px;
    position: absolute;
    transition: all 0.5s;
}
#root .myRibbon::after {
    border-left-color: inherit;
    border-right: 0;
    border-left-width: 1.2em;
    border-bottom: 1.2em solid transparent;
}

.main-container {
    margin-top: 40px;
}

.block-title {
    width: 100%;
    margin: 20px 0;
}

#root .title-tag {
    width: 95%;
    margin: auto;
    border-radius: 0.7rem 0 0 0.7rem;
    letter-spacing: 0.06em;
    transition: all 500ms ease-in-out;
}
#root .title-tag::before {
    left: unset;
    right: 0;
}
#root .title-tag::after {
    left: unset;
    right: -.25em;
}

.section-title {
    font-size: 30px;
    font-weight: 600;
}

.control-block {
    width: 100%;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

.btn-block {
    padding: 5px;
    visibility: visible;
}
.btn-block-hide {
    visibility: hidden;
}

#root .control-btn {
    font-size: 1.6em;
    margin: auto;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.671);
    color: rgba(255, 255, 255, 0.377);
    transition: background-color 0.5s, color 0.5s;
}
#root .control-btn:hover, #root .control-btn:active, #root .control-btn:focus {
    background-color: black;
    color: white;
}


/************************ Anime Card CSS ****************************/

.flex-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 15px;
}
.flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: 1.2em 1em;
    justify-content: center;
    /* margin-bottom: 1em; */
    padding-bottom: 3em;
}

.anime-wrapper {
    /* padding: 13px 10px; */
}

.anime-block {
    position: relative;
    display: block;
    height: 100%;
    background-color: rgb(240, 240, 240);
    outline-color: rgb(233, 233, 233);
    /* outline: none; */
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow: 0px 0px 10px 0px #adadad41; */
    transition: all 0.5s ease-in-out; 
    animation: mediaList 1s ease-out;
    /* animation: fadeIn 2.1s ease-out; */
}
.home-anime-block {
    position: relative;
    display: block;
    height: 100%;
    max-width: 210px;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow: 0px 0px 5px 1px #adadad41; */
    transition: all 500ms ease-in-out;
    /* animation: fadeIn 2.1s ease-out; */
    animation: mediaList 1s ease-out;
}

.anime-img-block {
    width: 100%;
    height: 14.5em;
    cursor: pointer;
    overflow: hidden;
    background-color: #dedede;
}
.anime-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.6s;
}
.lazy-hide {
    opacity: 0;
}
.lazy-show {
    opacity: 1;
}

.anime-block:hover, .home-anime-block:hover, .home-anime-block:focus {
    box-shadow: 0px 0px 20px 1px #adadad59;
}
/* home page anime block hover effect */
.home-anime-block .anime-img-block {
    transition: 600ms ease-out;
}
.home-anime-block .anime-img {
    transition: 1000ms ease-out;
}
.home-anime-block:hover > .anime-img-block, .home-anime-block:focus > .anime-img-block {
    opacity: 0.85;
}
.home-anime-block:hover > .anime-img-block .anime-img, .home-anime-block:focus > .anime-img-block .anime-img {
    transform: scale3d(1.1, 1.1, 1);
}
/* media list anime block hover effect */
.anime-block:hover > .anime-img-block {
    opacity: 0.85;
}
.anime-block .anime-img-block {
    transition: all 0.5s;
}

.anime-title {
    font-size: 0.85em;
    text-align: center;
    padding: 0.1em 0.8em;
    letter-spacing: 0.045em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    color: #515154;
}
.anime-title > span {
    cursor: pointer;
}

@keyframes fadeIn {
    from {opacity: 0.1;}
    to {opacity: 1;}
}
@keyframes mediaList {
    from {opacity: 0.1; transform: scale(0.9)}
    to {opacity: 1; transform: scale(1);}
}

/********************** Footer *****************************/
.footer-container {
    width: 100%;
    background-color: #1b1c1d;
    padding: 2em 1.8em;
}

.footer-text-block {
    padding: 0.5em 0 0;
    text-align: center;
}

.footer-img {
    font-size: .78rem;
    width: 4em;
    transition: transform 0.5s;
}
.footer-img:hover {
    transform: scale(1.1);
}

.footer-text {
    margin-top: 0.2em;
    color: rgb(156, 156, 156);
    font-size: 0.95em;
    letter-spacing: 0.05em;
}

/********************** Semantic-ui override **********************/

.pushable:not(body) {
    transform: none;
}

.pushable:not(body) > .ui.sidebar, .pushable:not(body) > .fixed, .pushable:not(body) > .pusher:after {
    position: fixed;
}

.dimmed {
    cursor: pointer;
}

.ui.modals {
    padding: 0;
    animation: fadeIn 0.35s ease-out;
}

#modal.ui.modal {
    cursor: initial;
    height: calc(100% - 8vh);
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#home-main .ui.red.label {
    background-color: #f74050!important;
    border-color: #f74050!important;
    color: #fff!important;
}
#home-main .ui.red.label:hover {
    background-color: #f12a3a!important;
    border-color: #f12a3a!important;
    color: #fff!important;
}

/* spring color */
#home-main .ui.green.label {
    background-color: #50b14f!important;
    border-color: #50b14f!important;
    color: #fff!important;
}
#home-main .ui.green.label:hover {
    background-color: #4abd48!important;
    border-color: #4abd48!important;
    color: #fff!important;
}
/* summer season color */
#home-main .ui.teal.label {
    background-color: #236e96!important;
    border-color: #236e96!important;
    color: #fff!important;
}
#home-main .ui.teal.label:hover {
    background-color: #127db6!important;
    border-color: #127db6!important;
    color: #fff!important;
}
/* Fall season color */
#home-main .ui.yellow.label {
    background-color: #cc6633!important;
    border-color: #cc6633!important;
    color: #fff!important;
}
#home-main .ui.yellow.label:hover {
    background-color: #e06324!important;
    border-color: #cc6324!important;
}
/* Winter season color */
#home-main .ui.teal.label {
    background-color: #dffaff!important;
    border-color: #dffaff!important;
    color: #6f788e!important;
}
#home-main .ui.teal.label:hover {
    background-color: #d4f1f9!important;
    border-color: #d4f1f9!important;
}
    

/******************** Lazy Load cutsom effect css *******************/
.lazy-load-image-background.myblur {
  filter: blur(10px);
  opacity: 0;
  display: inline-block;
}

.lazy-load-image-background.myblur.lazy-load-image-loaded {
  filter: blur(0);
  opacity: 1;
  transition: all 0.6s;
  display: unset !important;
}

.lazy-load-image-background.myblur > img {
  /* opacity: 0; */
}

.lazy-load-image-background.myblur.lazy-load-image-loaded > img {
  /* opacity: 1;
  transition: opacity .5s; */
}


@media (max-width: 560px) {
    .anime-title {
        font-size: 0.7em;
        padding: 0.06em 0.7em;
    }
    #root .myRibbon {
        font-size: 0.6em;
    }
    #root .title-tag {
        font-size: 1.2em;
    }
    .footer-text {
        font-size: 0.75em;
    }
    #root .control-btn {
        font-size: 1.5em;
        padding: 0.7em;
    }
    .flex-container {
        grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
        gap: 1.2em 1em;
        margin: 0;
    }
}